## ここはいろいろ実験的なコードを書くところとする。

In [20]:
import numpy as np
import pandas as pd
train_genba = pd.read_csv("data/train_genba.tsv",sep='\t')
train_goto = pd.read_csv("data/train_goto.tsv",sep='\t')
prod_goto = pd.read_csv("data/processed_train_goto.csv")

#### 6/20の作業

In [22]:
pd.DataFrame(prod_goto.isnull().sum()).to_csv("data/null_check.csv")

#### 確認の結果、次のカラムにNULLを含む
#### chiseki_kb_hb,kaoku_hb, mseki_rd_hb, mseki_dp_hb, chiseki_diff

In [ ]:
    # 間口(magutchi)
    # 幅員と同じように補完する。
    df['magutchi'] = df['magutchi'].fillna(0)
    for i in range(len(df)):
        if ( df.at[i,'magutchi'] ==0 ) :
            df.at[i,'magutchi'] = df.at[i,'road1_mg']

#### 6/18,19の作業

In [2]:
df = train_goto.copy()

In [3]:
genba = pd.read_csv("data/processed_train_genba.csv")

In [4]:
newdf=df.merge(genba, how="left", on='pj_no')

In [5]:
newdf.to_csv("data/joined_data.csv")
df = newdf

In [6]:
df['fukuin'] = df['fukuin'].fillna(0)
for i in range(len(df)):
    if ( df.at[i,'fukuin'] ==0 ) :
        df.at[i,'fukuin'] = df.at[i,'road1_fi']

In [7]:
    df['magutchi'] = df['magutchi'].fillna(0)
    for i in range(len(df)):
        if ( df.at[i,'magutchi'] ==0 ) :
            df.at[i,'magutchi'] = df.at[i,'road1_mg']

In [ ]:
df['setsudo_hi' ] = df['setsudo_hi'].fillna('unknown')
for i in range(len(df)):
    if ( df.at[i,'setsudo_hi']=='unknown'):
        df.at[i.'setsudo_hi']=df.at[i,'road1_hk']

In [9]:
df.head()

,id,pj_no,keiyaku_pr,tc_mseki,tt_mseki,levelplan,fukuin,road_st,magutchi,setsudo_hi,...,kodochiku_第3種,kodochiku_第4種,bokachiiki_22条区域,bokachiiki_その他,bokachiiki_準防火地域,bokachiiki_無指定,bokachiiki_防火地域,bokachiiki_防火指定無,bus,walk
0,train_0000,0,39800000,109.26,104.43,2F/4LDK,4.0,問題なし,9.9,東,...,0,0,0,0,0,0,0,1,0.0,17.0
1,train_0001,1,22300000,136.11,105.16,2F/4LDK,4.2,問題なし,9.3,北西,...,0,0,1,0,0,0,0,0,0.0,13.0
2,train_0002,2,19800000,87.07,85.94,2F/4LDK,4.0,問題なし,11.1,東,...,0,0,0,0,0,0,0,1,0.0,27.0
3,train_0003,3,33990000,163.75,105.98,2F/4LDK,4.0,問題なし,10.5,南,...,0,0,0,0,0,0,0,1,0.0,18.0
4,train_0004,4,30800000,111.51,89.01,2F/4LDK,4.0,問題なし,13.5,北,...,0,0,1,0,0,0,0,0,0.0,7.0

In [14]:
help(list.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [16]:
df = pd.read_csv('data/processed_train_goto.csv')

In [17]:
df.isnull().sum()

id                   0
pj_no                0
tc_mseki             0
tt_mseki             0
fukuin               0
road_st              0
magutchi             0
niwasaki             0
garage               0
chiseki_js_hb        0
chiseki_kb_hb        5
josui                0
gesui                0
gas                  0
tateuri_su           0
tochiuri_su          0
joken_su             0
hy1f_date_su         0
hy2f_date_su         0
hy3f_date_su         0
road1_fi             0
road1_mg             0
kaoku_um             0
kaoku_hb           193
yheki_kotei          0
yheki_umu            0
yheki_yohi           0
gk_sho_kyori         0
gk_chu_kyori         0
kborjs               0
                  ...
setsudo_hi_南＋北東      0
setsudo_hi_南＋北西      0
setsudo_hi_南＋南東      0
setsudo_hi_南＋南西      0
setsudo_hi_南＋東       0
setsudo_hi_南＋西       0
setsudo_hi_東         0
setsudo_hi_東＋北       0
setsudo_hi_東＋南       0
setsudo_hi_東＋南東      0
setsudo_hi_東＋南西      0
setsudo_hi_東＋西       0
setsudo_hi_西         0
setsudo_hi_西＋北       0
setsudo_hi_西＋北東      0
setsudo_hi_西＋北西      0
setsudo_hi_西＋南       0
setsudo_hi_西＋南東      0
setsudo_hi_西＋南西      0
setsudo_hi_西＋東       0
setsudo_kj_悪い        0
setsudo_kj_普通        0
setsudo_kj_良い        0
jigata_不整形地          0
jigata_整形地           0
jigata_敷地延長          0
jigata_間口狭・奥行長       0
hiatari_悪い           0
hiatari_普通           0
hiatari_良い           0
Length: 215, dtype: int64

In [11]:
df.head()

,id,keiyaku_pr,tc_mseki,tt_mseki,levelplan,fukuin,road_st,magutchi,setsudo_hi,setsudo_kj,...,kodochiku_第3種,kodochiku_第4種,bokachiiki_22条区域,bokachiiki_その他,bokachiiki_準防火地域,bokachiiki_無指定,bokachiiki_防火地域,bokachiiki_防火指定無,bus,walk
0,train_0000,39800000,109.26,104.43,2F/4LDK,4.0,問題なし,9.9,東,良い,...,0,0,0,0,0,0,0,1,0.0,17.0
1,train_0001,22300000,136.11,105.16,2F/4LDK,4.2,問題なし,9.3,北西,普通,...,0,0,1,0,0,0,0,0,0.0,13.0
2,train_0002,19800000,87.07,85.94,2F/4LDK,4.0,問題なし,11.1,東,普通,...,0,0,0,0,0,0,0,1,0.0,27.0
3,train_0003,33990000,163.75,105.98,2F/4LDK,4.0,問題なし,10.5,南,普通,...,0,0,0,0,0,0,0,1,0.0,18.0
4,train_0004,30800000,111.51,89.01,2F/4LDK,4.0,問題なし,13.5,北,良い,...,0,0,1,0,0,0,0,0,0.0,7.0

In [ ]:
df.loc[146,'fukuin']

In [ ]:
df['fukuin'] = df['fukuin'].fillna(0)

In [ ]:
df['fukuin'].isnull().sum()

#### いつのだかわからないコード

In [ ]:
df = train_genba.copy()

In [ ]:
df[['bus', 'walk']] = df.apply(calculateLogistics, axis=1)

In [ ]:
df.loc[0:20,['bas_toho1','eki_kyori1','teiho1','bus','walk']]

#### 下記は6/16夜の作業

In [ ]:
def calculateLogistics(x):
    if ( x['bas_toho1'] == 'バス' ):
        bus = x['eki_kyori1']
        walk = x['teiho1']
    else:
        bus = 0
        walk = x['eki_kyori1']
    
    return pd.Series([bus, walk])

#### 下記は6/16の作業

In [ ]:
df[['yoto','kempei','yoseki']] = df.apply(select_yoto, axis=1)

In [ ]:
np.isnan(df.loc[0,'yoto2'])

In [ ]:
type(df.loc[26,'yoto2'])==str

In [ ]:
df.loc[20,'shu_soon']

In [ ]:
df['shu_soon'].map({'○':1, np.NaN:0})

In [ ]:
def select_yoto(x):
    if ( type(x['yoto2']) == str ):
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    else:
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    """
    if ( np.isnan(x['yoto2'])):
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    """
    """"
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    """
    return pd.Series([yoto, kempei, yoseki])

#### 下記は6/15の作業

In [ ]:
df = df.drop('jukyo',axis=1)

In [ ]:
# df['yoto'], df['kempei'],df['yoseki']= df.apply(select_yoto,axis=1)
df[['yoto','kempei','yoseki']] = df.apply(select_yoto,axis=1)

In [ ]:
df.head()

In [ ]:
org_df = df.copy()

In [ ]:
df['josui'] = df.apply(lambda x: 1 if x['josui']=='公営' else 0, axis=1)

In [ ]:
df['gesui'] = df.apply(lambda x: 1 if x['gesui']=='公共下水' else 0, axis=1)

In [ ]:
df['gas'] = df.apply(lambda x: 2 if x['gas'] =='都市ガス' else 1 if x['gas'] == '集中プロパン' else 0, axis=1)

In [ ]:
df['chiseki_diff'] = df['chiseki_kb_hb']-df['chiseki_js_hb']

In [ ]:
a = pd.get_dummies(df[['usui']],drop_first=False)

In [ ]:
df2 = pd.merge(df, a, left_index=True, right_index=True)

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['usui']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df = df.fillna({'tateuri_su': 0})

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['road1_hk','road1_sb']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_hk']!=np.nan else 3)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_fi']!=0 else 3 if x['road3_fi']!=0 else 2 if x['road2_fi']!=0 else 1, axis=1)

In [ ]:
import math

In [ ]:
df['road_num']=df.apply(lambda x: 4 if not math.isnan(x['road4_fi']) else 3 if not math.isnan(x['road3_fi']) else 2 if not math.isnan(x['road2_fi']) else 1, axis=1)

In [ ]:
df['toshikuiki']=df['toshikuiki2'].fillna('empty')

In [ ]:
df['toshikuiki'] = df.apply(lambda x: x['toshikuiki1'] if x['toshikuiki']=="empty" else x['toshikuiki2'], axis=1)

In [ ]:
df['toshikuiki']

In [ ]:
df.loc[1549,'toshikuiki2']

In [ ]:
def select_yoto(x):
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    return pd.Series([yoto, kempei, yoseki])