## ここはいろいろ実験的なコードを書くところとする。

In [1]:
import numpy as np
import pandas as pd
train_genba = pd.read_csv("data/train_genba.tsv",sep='\t')

In [2]:
df = train_genba.copy()

#### 下記は6/16の作業

In [49]:
df[['yoto','kempei','yoseki']] = df.apply(select_yoto, axis=1)

In [33]:
np.isnan(df.loc[0,'yoto2'])

True

In [50]:
type(df.loc[26,'yoto2'])==str

True

In [55]:
df.loc[20,'shu_soon']

'○'

In [56]:
df['shu_soon'].map({'○':1, np.NaN:0})

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      1
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
2751    0
2752    0
2753    0
2754    0
2755    0
2756    0
2757    0
2758    0
2759    0
2760    0
2761    0
2762    0
2763    0
2764    0
2765    0
2766    0
2767    0
2768    0
2769    0
2770    0
2771    0
2772    0
2773    0
2774    0
2775    0
2776    0
2777    0
2778    0
2779    0
2780    0
Name: shu_soon, Length: 2781, dtype: int64

In [48]:
def select_yoto(x):
    if ( type(x['yoto2']) == str ):
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    else:
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    """
    if ( np.isnan(x['yoto2'])):
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    """
    """"
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    """
    return pd.Series([yoto, kempei, yoseki])

#### 下記は6/15の作業

In [ ]:
df = df.drop('jukyo',axis=1)

In [ ]:
# df['yoto'], df['kempei'],df['yoseki']= df.apply(select_yoto,axis=1)
df[['yoto','kempei','yoseki']] = df.apply(select_yoto,axis=1)

In [ ]:
df.head()

In [ ]:
org_df = df.copy()

In [ ]:
df['josui'] = df.apply(lambda x: 1 if x['josui']=='公営' else 0, axis=1)

In [ ]:
df['gesui'] = df.apply(lambda x: 1 if x['gesui']=='公共下水' else 0, axis=1)

In [ ]:
df['gas'] = df.apply(lambda x: 2 if x['gas'] =='都市ガス' else 1 if x['gas'] == '集中プロパン' else 0, axis=1)

In [ ]:
df['chiseki_diff'] = df['chiseki_kb_hb']-df['chiseki_js_hb']

In [ ]:
a = pd.get_dummies(df[['usui']],drop_first=False)

In [ ]:
df2 = pd.merge(df, a, left_index=True, right_index=True)

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['usui']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df = df.fillna({'tateuri_su': 0})

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['road1_hk','road1_sb']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_hk']!=np.nan else 3)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_fi']!=0 else 3 if x['road3_fi']!=0 else 2 if x['road2_fi']!=0 else 1, axis=1)

In [ ]:
import math

In [ ]:
df['road_num']=df.apply(lambda x: 4 if not math.isnan(x['road4_fi']) else 3 if not math.isnan(x['road3_fi']) else 2 if not math.isnan(x['road2_fi']) else 1, axis=1)

In [ ]:
df['toshikuiki']=df['toshikuiki2'].fillna('empty')

In [ ]:
df['toshikuiki'] = df.apply(lambda x: x['toshikuiki1'] if x['toshikuiki']=="empty" else x['toshikuiki2'], axis=1)

In [ ]:
df['toshikuiki']

In [ ]:
df.loc[1549,'toshikuiki2']

In [ ]:
def select_yoto(x):
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    return pd.Series([yoto, kempei, yoseki])