## ここはいろいろ実験的なコードを書くところとする。

In [1]:
import numpy as np
import pandas as pd
train_genba = pd.read_csv("data/train_genba.tsv",sep='\t')

In [2]:
df = train_genba.copy()

In [8]:
df[['bus', 'walk']] = df.apply(calculateLogistics, axis=1)

In [12]:
df.loc[0:20,['bas_toho1','eki_kyori1','teiho1','bus','walk']]

   bas_toho1  eki_kyori1  teiho1   bus  walk
0         徒歩          17     NaN   0.0  17.0
1         徒歩          13     NaN   0.0  13.0
2         徒歩          27     NaN   0.0  27.0
3         徒歩          18     NaN   0.0  18.0
4         徒歩           7     NaN   0.0   7.0
5         バス           7     8.0   7.0   8.0
6         バス          13     1.0  13.0   1.0
7         徒歩          22     NaN   0.0  22.0
8         バス           5     2.0   5.0   2.0
9         徒歩          32     NaN   0.0  32.0
10        徒歩          21     NaN   0.0  21.0
11        徒歩           7     NaN   0.0   7.0
12        徒歩          15     NaN   0.0  15.0
13        バス           5     5.0   5.0   5.0
14        徒歩          16     NaN   0.0  16.0
15        徒歩           7     NaN   0.0   7.0
16        徒歩          32     NaN   0.0  32.0
17        徒歩          21     NaN   0.0  21.0
18        バス           7     5.0   7.0   5.0
19        バス           6     3.0   6.0   3.0
20        徒歩          10     NaN   0.0  10.0

#### 下記は6/16夜の作業

In [7]:
def calculateLogistics(x):
    if ( x['bas_toho1'] == 'バス' ):
        bus = x['eki_kyori1']
        walk = x['teiho1']
    else:
        bus = 0
        walk = x['eki_kyori1']
    
    return pd.Series([bus, walk])

#### 下記は6/16の作業

In [ ]:
df[['yoto','kempei','yoseki']] = df.apply(select_yoto, axis=1)

In [ ]:
np.isnan(df.loc[0,'yoto2'])

In [ ]:
type(df.loc[26,'yoto2'])==str

In [ ]:
df.loc[20,'shu_soon']

In [ ]:
df['shu_soon'].map({'○':1, np.NaN:0})

In [ ]:
def select_yoto(x):
    if ( type(x['yoto2']) == str ):
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    else:
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    """
    if ( np.isnan(x['yoto2'])):
        yoto =x['yoto1']
        kempei =x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto =x['yoto2']
        kempei = x['kempei2']
        yoseki =x['yoseki2']
    """
    """"
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    """
    return pd.Series([yoto, kempei, yoseki])

#### 下記は6/15の作業

In [ ]:
df = df.drop('jukyo',axis=1)

In [ ]:
# df['yoto'], df['kempei'],df['yoseki']= df.apply(select_yoto,axis=1)
df[['yoto','kempei','yoseki']] = df.apply(select_yoto,axis=1)

In [ ]:
df.head()

In [ ]:
org_df = df.copy()

In [ ]:
df['josui'] = df.apply(lambda x: 1 if x['josui']=='公営' else 0, axis=1)

In [ ]:
df['gesui'] = df.apply(lambda x: 1 if x['gesui']=='公共下水' else 0, axis=1)

In [ ]:
df['gas'] = df.apply(lambda x: 2 if x['gas'] =='都市ガス' else 1 if x['gas'] == '集中プロパン' else 0, axis=1)

In [ ]:
df['chiseki_diff'] = df['chiseki_kb_hb']-df['chiseki_js_hb']

In [ ]:
a = pd.get_dummies(df[['usui']],drop_first=False)

In [ ]:
df2 = pd.merge(df, a, left_index=True, right_index=True)

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['usui']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df = df.fillna({'tateuri_su': 0})

In [ ]:
df = pd.merge(df, pd.get_dummies(df[['road1_hk','road1_sb']],drop_first = False), left_index = True, right_index = True)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_hk']!=np.nan else 3)

In [ ]:
df['road_num']=df.apply(lambda x: 4 if x['road4_fi']!=0 else 3 if x['road3_fi']!=0 else 2 if x['road2_fi']!=0 else 1, axis=1)

In [ ]:
import math

In [ ]:
df['road_num']=df.apply(lambda x: 4 if not math.isnan(x['road4_fi']) else 3 if not math.isnan(x['road3_fi']) else 2 if not math.isnan(x['road2_fi']) else 1, axis=1)

In [ ]:
df['toshikuiki']=df['toshikuiki2'].fillna('empty')

In [ ]:
df['toshikuiki'] = df.apply(lambda x: x['toshikuiki1'] if x['toshikuiki']=="empty" else x['toshikuiki2'], axis=1)

In [ ]:
df['toshikuiki']

In [ ]:
df.loc[1549,'toshikuiki2']

In [ ]:
def select_yoto(x):
    if ( x['yoto2']==np.nan):
        yoto =x['yoto1']
        kenpei =x['kempek1']
        yoseki =x['yoseki1']
    elif ( x['kempei1']<x['kempei2']):
        yoto =x['yoto1']
        kempei = x['kempei1']
        yoseki =x['yoseki1']
    else:
        yoto = x['yoto']=x['yoto1']
        kempei = x['kempei']=x['kempei1']
        yoseki =x['yoseki1']
    return pd.Series([yoto, kempei, yoseki])